body {
    font-family: Arial, sans-serif;
    background-color: #10375C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    background: #F3C623;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

form input,
form select,
form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    background: #CD5C08;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: #EB8317;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}