body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #F3C623;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

h1 {
    margin: 0 0 1rem;
}

.auth-form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.auth-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form .feedback {
    color: red;
    margin-bottom: 1rem;
}

button {
    background-color: #6886C5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.back-home {
    margin-top: 1rem;
    text-align: center;
}

.back-home .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #226597;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.back-home .button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .auth-form {
        padding: 1rem;
    }

    button {
        padding: 0.5rem;
    }

    .back-home .button {
        width: 100%;
        box-sizing: border-box;
    }
}